<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>AngularTesN</title>
	<meta name="description" content="" />
</head>
<body>
	
	<script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
	<script src="AngularTesN.js"></script>
	
	<div ng-app="TestApp">
		
		<div ng-controller="TestCtrl">
			<p></p>Main Controller	{{test}}</p>	
			
			<a href="#Default">Default</a>
			<a href="#Test">Route 1</a>
			
			<hr/>
			
			<div ng-view></div>
		</div>
		
		
	
		
	</div>
</body>
</html>